<%- include('includes/head.ejs') %>
</head>

<body>
    <!--navigation-->
    <%- include('includes/navigation.ejs') %>
    <!--page not found header-->
    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>