/*product form styles*/
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

/*styles for product item when displayed*/
.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

/*styles for product title when displayed*/
.product_title {
    font-size: 1.2rem;
    text-align: center;
}

/*styles for product price when displayed*/
.product_price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

/*styles for product description when displayed*/
.product_description {
    text-align: center;
}
